@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.scecondary-bg {
    background-color: #FFF8F3;
}

.container {
    background-image: url('../public/developer.png'), url('../public/header_bg.png');
    background-position: left top, right bottom;
    background-repeat: no-repeat;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.navbar-link {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar-link li {
    margin-right: 50px;
}

.navbar-link li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
}

.primary {
    padding: 10px 20px;
    background-color: #FD6E0A;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100px;
}

.navbar-title {
    font-size: 45px;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

#sub-title {
    color: #FD6E0A;
}

.banner {
    display: flex;
    margin: 0 35px 0 200px;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 560px;
}

.banner-title {
    font-size: 45px;
    font-weight: 700px;
}

.content-name {
    font-size: 85px;
    font-weight: 700;
}

.dsc {
    font-size: 16px;
    font-weight: 300px;
}

.button button {
    margin: 0 20px 0 0;
}

.btn-con {
    padding: 10px 20px;
    border-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 80px;
}

.about {
    padding: 100px;
    border-radius: 10px;
}

.cotain-box {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 20px 15px;
}

.det {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.det div {
    line-height: 0.5;
}

.do {
    margin: 0 200px 0 200px;
    justify-content: space-between max-width: 1q00px;
    text-align: center;
}